<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
 {% for post in posts %}
   <article class="card mb-3">
      <div class="card-header text-white bg-success card-subtitle p-3">
      <h6 class="card-subtitle">Posted by <a class="text-dark" href="#">{{post.author.first_name}}</a> on {{post.date_posted | date:"F d, Y"}}</h6>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{post.title}}</h2>
      <p class="card-text">
        {{post.content}}
      </p>
    </div>
 </article>
  
    {% endfor %}
{% endblock content %}


   
 
